/* height or max-height is important */
.my-sticky-header-table{
    height: 310px;
}
  

/* bg color is important for th; just specify one */
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    background-color: #c1f4cd;
  }
    
  thead tr th {
    position: sticky;
    z-index: 1;
  }
    
  thead tr:first-child th{
    top: 0;
  }
    

  /* this is when the loading indicator appears */
  .q-table--loading thead tr:last-child th{
    top: 48px;
  }
    /* height of all previous header rows */
    
